.btns_container {
    margin-top: 3vw;
    display: flex;
    column-gap: 2vw;
    justify-content: center;
}

.message {
    margin-bottom: 3vw !important;
    font-size: 140% !important;
}

@media (max-width:1024px) {
    .message {
        margin-bottom: 12vw !important;
        font-size: 180% !important;
    }  
}

.button {
    width: fit-content;
    padding: 0.5vw 1.5vw;
    font-size: 120%;
    font-weight: 600;
    background-color: #b5e5f5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #020079;
    box-shadow: 0px 0px 5px #02007960;
}

@media (max-width:1024px) {
    .button {
        width: fit-content;
        font-size: 150%;
        padding: 3vw 5vw;
    }
}

.success {
    border: 3px solid rgb(133, 201, 31) !important;
}

.error {
    border: 3px solid rgb(173, 12, 12) !important;
}

.warning {
    border: 3px solid rgb(182, 172, 65) !important;
}

.info {
    border: none !important;
}