/***********   DESKTOP CIRCLE CSS   ************/
.place_list {
  position: absolute;
  z-index: 1;
  padding: 20px;
  box-shadow: 0px 8px 10px 0px #0000002b;
}

.circle_container {
  position: relative;
  width: 400px;
  height: 400px;
  padding: 20px;
  border-radius: 50%;
  margin: 40px auto;
}
.circle_container a {
  display: block;
  position: absolute;
  top: 50%; 
  left: 50%;
  width: 100px; 
  height: 50px;
  margin: -20px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.circle_container a.center {
    top: 40%;
}

@media (min-width: 1550px) {
    .circle_container a.center {
        font-size: 15px;
    } 
}

.center h2 {
    font-weight: bold;
    line-height: 1.5;
}

.circle_container img { display: block; width: 100%; }

.deg0 { transform: translate(200px); } /* 12em = half the width of the wrapper */
.deg45 { transform: rotate(45deg) translate(200px) rotate(-45deg); }
.deg90 { transform: rotate(90deg) translate(200px) rotate(-90deg); }
.deg135 { transform: rotate(135deg) translate(200px) rotate(-135deg); }
.deg180 { transform: translate(-200px); }
.deg225 { transform: rotate(225deg) translate(200px) rotate(-225deg); }
.deg270 { transform: rotate(270deg) translate(200px) rotate(90deg); }
.deg315 { transform: rotate(315deg) translate(200px) rotate(-315deg); }


.circle_container a span {
    padding: 13px 10px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 25px;
    transition-duration: 0.25s;
}

.disabled {
    border: 1.5px solid rgba(126, 136, 135, 0.51);
    background-color: rgba(126, 136, 135, 0.31);
    color: rgb(126, 136, 135);
    cursor: not-allowed;
}

.green {
    border: 1.5px solid rgba(0, 156, 100, 0.67);
    background-color: rgba(1, 160, 93, 0.31);
}
.green:hover {
    background-color: rgba(1, 160, 94, 0.213);
    transition-duration: 0.25s;
}

.blue {
    border: 1.5px solid rgba(0, 100, 156, 0.62);
    background-color:  rgba(1, 111, 160, 0.31);
}
.blue:hover {
    background-color:  rgba(1, 112, 160, 0.175);
    transition-duration: 0.25s;
}

.turkiz {
    border: 1.5px solid rgba(2, 186, 164, 0.59);
    background-color:   rgba(6, 214, 191, 0.31);
}
.turkiz:hover {
    background-color:   rgba(6, 214, 190, 0.207);
    transition-duration: 0.25s;
}

.green_zit {
    border: 1.5px solid rgba(99, 161, 3, 0.59);
    background-color:rgba(149, 242, 4, 0.31);
}
.green_zit:hover {
    background-color:rgba(151, 242, 4, 0.168);
    transition-duration: 0.25s;
}

.yellow {
    border: 1.5px solid  rgba(218, 214, 3, 0.6);
    background-color: rgba(218, 214, 3, 0.31);
}
.yellow:hover {
    background-color: rgba(218, 214, 3, 0.201);
    transition-duration: 0.25s;
}

.red {
    border: 1.5px solid  rgba(217, 0, 27, 0.72);
    background-color: rgba(217, 0, 27, 0.31);
}
.red:hover {
    background-color: rgba(217, 0, 25, 0.213);
    transition-duration: 0.25s;
}