/***********   DESKTOP CSS   ************/
.home_menu_container {
    padding: 2vw;
}

.home_menu_container h2 {
    margin-bottom: 4vw;
}

.links_container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3vw;
}

.links_container a {
    width: 33.33%;
    height: fit-content;
    color: black;
    text-align: center;
}

.home_menu_container a span {
    padding: 13px;
    font-size: 120%;
    font-weight: 600;
    border-radius: 25px;
    transition-duration: 0.25s;
    display: inline-block;
    width: 47%;
    text-align: center;
}

.disabled {
    border: 1.5px solid rgba(126, 136, 135, 0.51);
    background-color: rgba(126, 136, 135, 0.31);
    color: rgb(126, 136, 135);
    cursor: not-allowed;
}

.green {
    border: 1.5px solid rgba(0, 156, 100, 0.67);
    background-color: rgba(1, 160, 93, 0.31);
}
.green:hover {
    background-color: rgba(1, 160, 94, 0.213);
    transition-duration: 0.25s;
}

.blue {
    border: 1.5px solid rgba(0, 100, 156, 0.62);
    background-color:  rgba(1, 111, 160, 0.31);
}
.blue:hover {
    background-color:  rgba(1, 112, 160, 0.175);
    transition-duration: 0.25s;
}

.turkiz {
    border: 1.5px solid rgba(2, 186, 164, 0.59);
    background-color:   rgba(6, 214, 191, 0.31);
}
.turkiz:hover {
    background-color:   rgba(6, 214, 190, 0.207);
    transition-duration: 0.25s;
}

.green_zit {
    border: 1.5px solid rgba(99, 161, 3, 0.59);
    background-color:rgba(149, 242, 4, 0.31);
}
.green_zit:hover {
    background-color:rgba(151, 242, 4, 0.168);
    transition-duration: 0.25s;
}

.yellow {
    border: 1.5px solid  rgba(218, 214, 3, 0.6);
    background-color: rgba(218, 214, 3, 0.31);
}
.yellow:hover {
    background-color: rgba(218, 214, 3, 0.201);
    transition-duration: 0.25s;
}

.red {
    border: 1.5px solid  rgba(217, 0, 27, 0.72);
    background-color: rgba(217, 0, 27, 0.31);
}
.red:hover {
    background-color: rgba(217, 0, 25, 0.213);
    transition-duration: 0.25s;
}



/***********   MOBILE LIST CSS   ************/
@media (max-width: 1024px) {
    .home_menu_container {
        padding: 1vw;
        text-align: center;
    }

    .home_menu_container h2 {
        margin-top: 10vw;
        font-size: 180%;
    }

    .links_container {
        width: 95%;
        margin: auto;
        margin-top: 15vw;
        margin-bottom: 10vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 7vw;
    }

    .links_container a {
        width: 48%;
    }

    .home_menu_container a span {
        width: 90%;
        display: inline-block;
        font-size: 125%;
        padding: 5vw;
    }
}