.nav {
    display: flex;
    justify-content: space-between;
    padding: 0.75vw 2vw;
    align-items: center;
    border-bottom: 1px solid #0200792c;
    background-color: #d5f2fd;
}

@media (max-width: 1024px) {
    .nav {
        padding: 3vw;
    }
}

.logo_container {
    width: 8.2vw;
    height: 3.8vw;
    position: relative;
    top: 0vw;
    left: 0vw;
}

.logo_container > img {
    border-radius: 7px;
}

@media (max-width: 1024px) {
    .logo_container {
        width: 28vw;
        height: 11vw;
    }
}

.nav_message {
    font-size: 120%;
    display: flex;
    align-items: center;
    column-gap: 2vw;
}

@media (max-width: 1024px) {
    .nav_message {
        column-gap: 4vw;
    }
}

.side_menu_item {
    display: flex;
    column-gap: 1vw;
    align-items: center;
}

.side_menu_button {
    margin-top: 0.5vw;
}

.side_menu_label {
    font-size: 110%;
}

@media (max-width: 1024px) {
    .side_menu_item {
        column-gap: 3vw;
    }

    .side_menu_button {
        margin-top: 1vw;
    }

    .side_menu_label {
        font-size: 130%;
    }
}

.nav_actions {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 1vw;    
}