.table_container {
    width: fit-content; 
    max-width: 95%; 
    margin: auto; 
    margin-top: 3.5vw;
}

@media (max-width: 1024px) {
    .table_container {
        width: 95%;
    }
}

.head_cells {
    font-weight: bold;
    font-size: 110%;
    background-color: rgba(0, 50, 243, 0.18);
    border: 2px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    min-width: 15vw;
}

.content_cell {
    font-size: 110%;
    text-align: center;
}

.content_row:nth-child( odd ) {
    background-color:rgba(242, 242, 242, 0.79);
}

.content_row:nth-child( even ) {
    background-color:rgba(129, 211, 248, 0.14);
}