.table_container {
    width: fit-content !important; 
    max-width: 95% !important; 
    margin: auto !important; 
    margin-top: 3.5vw !important;
}

@media (max-width: 1024px) {
    .table_container {
        width: 95% !important;
    }
}

.head_cells {
    font-weight: bold !important;
    font-size: 110% !important;
    background-color: rgba(0, 50, 243, 0.18) !important;
    border: 2px solid rgba(255, 255, 255, 0.5) !important;
    text-align: center !important;
    min-width: 15vw !important;
}

.content_cell {
    font-size: 110% !important;
    text-align: center !important;
}

.content_row:nth-child( odd ) {
    background-color:rgba(242, 242, 242, 0.79) !important;
}

.content_row:nth-child( even ) {
    background-color:rgba(129, 211, 248, 0.14) !important;
}